.chat-app-container {
  position: fixed;
  border-radius: 10px 10px 0px 0px;
  margin-right: 2px;
  margin-bottom: 175px;
  bottom: 0;
  right: 0;
  width: 580px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #18364d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.green-message {
  color: green;
}

.blue-message {
  color: blue;
}

.chat-room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 5px;
  background-color: #18364d;
  color: #fff;
}

.chat-room-header h2 {
  margin: 0;
}

.chat-room-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #18364d;
  color: #fff;
}

.chat-room-body {
  flex-grow: 1;
  overflow-y: auto;
}

.message-container-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px; /* Add margin to make space for the fixed footer */
}

.chat-room-footer {
  margin-left: -15px;
  height: 100px;
  position: fixed;
  bottom: 60px;
  width: 600px;
  background-color: #18364d;
  padding: 10px;
  color: #fff;
}

.chat-room-input {
  display: flex;
  background-color: #18364d;
  width: 100%;
}

.chat-legend-container {
  background-color: #1e2a38;
  border-radius: 10px;
  padding: 15px;
  color: #ffffff;
  width: fit-content;
  margin-bottom: 20px;
}

.chat-legend-header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #45d9f5;
}

.chat-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chat-legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.color-admin {
  background-color: #fa5407;
}

.color-user {
  background-color: #5693f5;
}

.color-driver {
  background-color: #07fa40;
}
