// Dashboard.css
.dashboard-content {
  padding: 20px;
  margin-top: 50px;
}

.disable-interaction {
  pointer-events: none;
  opacity: 0.9;
}

.dashboard-container {
  pointer-events: auto;
  opacity: 1;
  content-align: center;
}

body {
  background-color: #004d4d;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.rating-form {
  color: #333;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating-form-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.rating-stars-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.rating-reset-button,
.rating-submit-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
