.profile-container {
  max-width: 900px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.button-profile {
  width: 95%;
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group .error {
  color: red;
  font-size: 0.9em;
}

.profile-image {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  border-radius: 50%;
}
