.drive-item {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
  width: 300px;
  color: red;
  margin-left: 50px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.drive-item p {
  margin: 5px 0;
}

.drive-item button {
  width: 100%;
}
