.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 100vh;
}

.form-group-select {
  text-align: center;
  width: 95%;
}

.register-form {
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
  content-align: center;
}

.form-title {
  font-size: 24px;
  margin-bottom: 1em;
  text-align: center;
  color: #007b83;
}

.form-group {
  margin-bottom: 1.5em;
}

.favourite-addresses-form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #555;
}

.favourite-addresses-form input,
select {
  width: 90%;
  text-align: center;
  padding: 0.8em;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.favourite-addresses-form input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

.button-register {
  width: 80%;
  margin-right: 25px;
}

button {
  width: 110%;
  padding: 0.8em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0056b3;
}

.error {
  display: block;
  margin-top: 0.5em;
  color: red;
  font-size: 0.9em;
}

.links {
  margin-top: 1em;
}

.links a {
  color: #3c4047;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.google-login {
  margin-top: 10px;
  margin-left: 120px;
}

.google-login p {
  margin-left: -100px;
}
