.all-users-container {
  padding: 20px;
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the user list horizontally */
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards */
  gap: 20px;
}

.all-users-container h2 {
  color: #fff; /* Change the title color to contrast with the background */
  margin-bottom: 20px;
}
