.App {
  text-align: center;
  width: 100%;
  padding-bottom: 60px;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: linear-gradient(
      217deg,
      rgba(91, 134, 246, 0.8),
      rgba(91, 134, 246, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(74, 133, 189, 0.8),
      rgba(74, 133, 189, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(51, 107, 137, 0.8),
      rgba(51, 107, 137, 0) 70.71%
    );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additions for UserDrives */
.user-drives {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align items horizontally */
  align-items: flex-start; /* Align items to the start of the flex container */
}

.user-drives h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* White color for better visibility on gradient background */
  font-size: 2rem; /* Larger font size */
}

.drive-item-container {
  flex: 1 1 calc(33.333% - 40px); /* Three per row with 20px gap */
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .drive-item-container {
    flex: 1 1 calc(50% - 40px); /* Two per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .drive-item-container {
    flex: 1 1 calc(100% - 40px); /* One per row on extra small screens */
  }
}
