body {
  font-family: Arial, sans-serif;
  background-color: #007b83;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007b83;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.label-login {
  margin-right: 100px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-left: 50px;
}

.btn {
  width: 95%;
  padding: 10px;
  background-color: #007b83;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #005f63;
}

.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  display: block;
  color: #007b83;
  text-decoration: none;
  margin-top: 10px;
}

.links a:hover {
  text-decoration: underline;
}
