.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #154c79;
  /*background: transparent;  Keep background transparent or set it as needed */
  color: white;
  font-size: 1rem;
  z-index: 1000; /* Ensure this value is higher than other elements */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.4); /* Adjusted shadow direction and added blur */
}
