.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
      217deg,
      rgba(91, 134, 246, 0.8),
      rgba(91, 134, 246, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(74, 133, 189, 0.8),
      rgba(74, 133, 189, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(51, 107, 137, 0.8),
      rgba(51, 107, 137, 0) 70.71%
    );
  color: white;
  font-size: 1rem;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
